@using WeightliftingTeam1.Data
@using WeightliftingTeam1.Panels
@inject SearchResultService athleteResultService
@inject SearchResultService searchResultService


<div class="my-param-container d-flex flex-column">
    @if (AggregationPanels == null)
    {
        <div>Loading...</div>
    }
    else
    {
        <EditForm Model="@AggregationPanels">
            <DataAnnotationsValidator />
            <div class="flex-wrap-container ">
                @if (PanelType == PanelType.Attempts)
                {

                    <section>
                        <h6>
                            Athlete's gender
                        </h6>
                        <div class="stacked-checkboxes">
                            <div class="checkbox-items">
                                <InputCheckbox class="margin-helper" id="men" @bind-Value=AggregationPanels.AttemptPanel.MenIsIncluded />
                                <label for="men">
                                    Men
                                </label>
                            </div>
                            <div class="d-flex align-items-baseline">
                                <InputCheckbox class="margin-helper" id="women" @bind-Value=AggregationPanels.AttemptPanel.WomenIsIncluded />
                                <label for="women">
                                    Women
                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h6>
                            Event's date
                        </h6>
                        <select @onchange="AggregationPanels.AttemptPanel.ChangePeriodEvent" class="custom-select">
                            <option value="">Select period</option>
                            <option value="1920 - 1972">1920 - 1972</option>
                            <option value="1973 - 1992">1973 - 1992</option>
                            <option value="1993 - 1997">1993 - 1997</option>
                            <option value="(current)1998+">(current)1998+</option>
                        </select>
                        <div>
                            <InputDate @bind-Value=AggregationPanels.AttemptPanel.DateLowerLimit class="form-control date-style-correction" />
                        </div>
                        <div>
                            <InputDate @bind-Value=AggregationPanels.AttemptPanel.DateUpperLimit class="form-control date-style-correction" />
                        </div>
                    </section>

                    <section>
                        <h6>
                            Included results
                        </h6>
                        <div class="stacked-checkboxes">
                            <div class="checkbox-items">
                                <InputCheckbox class="margin-helper" id="snatch" @bind-Value=AggregationPanels.AttemptPanel.SnatchIsIncluded />
                                <label for="snatch">
                                    Snatch results
                                </label>
                            </div>
                            <div class="checkbox-items">
                                <InputCheckbox class="margin-helper" id="cleanAndJerk" @bind-Value=AggregationPanels.AttemptPanel.CleanAndJerkIsIncluded />
                                <label for="cleanAndJerk">
                                    Clean and jerk results
                                </label>
                            </div>

                            <div class="checkbox-items">
                                <InputCheckbox class="margin-helper" id="total" @bind-Value=AggregationPanels.AttemptPanel.TotalIsIncluded />
                                <label for="total">
                                    Total results
                                </label>
                            </div>

                            <div class="checkbox-items">
                                <InputCheckbox class="margin-helper" id="press" @bind-Value=AggregationPanels.AttemptPanel.CleanAndPressIsIncluded />
                                <label for="press">
                                    Clean and press (is excluded from 1973)
                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h6>
                            Define competition
                        </h6>
                        <TelerikAutoComplete Data="@AggregationPanels.DataForDropdowns.Competitions" @bind-Value="@AggregationPanels.AttemptPanel.Competition"
                                             Placeholder="Enter Competition" ClearButton="true"
                                             Width="100%" Class="" />
                    </section>

                    <section>
                        <h6>
                            Define athlete's name
                        </h6>
                        <TelerikAutoComplete Data="@AggregationPanels.DataForDropdowns.AthleteNames" @bind-Value="@AggregationPanels.AttemptPanel.AthleteName"
                                             Placeholder="Enter Athlete's Name" ClearButton="true"
                                             Width="100%" Class="" />
                    </section>

                    <section>
                        <h6>
                            Weight spread of athletes
                        </h6>
                        <div class="d-flex flex-column">
                            <div class="d-flex">
                                <InputNumber class="form-control" @bind-Value=AggregationPanels.AttemptPanel.WeightLowerLimit />
                                @*<div class="my-auto">—</div>*@
                                <InputNumber class="form-control" @bind-Value=AggregationPanels.AttemptPanel.WeightUpperLimit />
                            </div>
                        </div>
                    </section>

                    <section>
                        <h6>
                            Result spread
                        </h6>
                        <div class="d-flex flex-column">
                            <div class="d-flex">
                                <InputNumber class="form-control" @bind-Value=AggregationPanels.AttemptPanel.ResultLowerLimit />
                                @*<div class="my-auto">—</div>*@
                                <InputNumber class="form-control" @bind-Value=AggregationPanels.AttemptPanel.ResultUpperLimit />
                            </div>
                        </div>

                        <div class="checkbox-items">
                            <InputCheckbox class="margin-helper" id="checkboxDisqualified" @bind-Value=AggregationPanels.AttemptPanel.IsDisqualified />
                            <label for="checkboxDisqualified">
                                Disqualified
                            </label>
                        </div>
                    </section>


                }
                else if (PanelType == PanelType.Athletes)
                {


                    <section>
                        <h6>
                            Define athlete's name
                        </h6>
                        <TelerikAutoComplete Data="@AggregationPanels.DataForDropdowns.AthleteNames" @bind-Value="@AggregationPanels.AthletePanel.Name"
                                             Placeholder="Name" ClearButton="true"
                                             Width="100%" Class="" />
                    </section>

                    <section>
                        <h6>
                            Define athlete's country
                        </h6>
                        <TelerikAutoComplete Data="@AggregationPanels.DataForDropdowns.Countries" @bind-Value="@AggregationPanels.AthletePanel.Country"
                                             Placeholder="Country" ClearButton="true"
                                             Width="100%" Class="" />
                    </section>


                    <section>
                        <h6>
                            Athlete's gender
                        </h6>
                        <div class="stacked-checkboxes">
                            <div>
                                <InputCheckbox class="margin-helper" id="men-athletes" @bind-Value=AggregationPanels.AthletePanel.MenIsIncluded />
                                <label for="men-athletes">
                                    Men
                                </label>
                            </div>
                            <div>
                                <InputCheckbox class="margin-helper" id="women-athletes" @bind-Value=AggregationPanels.AthletePanel.WomenIsIncluded />
                                <label for="women-athletes">
                                    Women
                                </label>
                            </div>
                        </div>
                    </section>
                }
                else if (PanelType == PanelType.Records)
                {
                    <section>
                        <h6>
                            Athlete's gender
                        </h6>
                        <div class="stacked-checkboxes">
                            <div class="checkbox-items">
                                <InputCheckbox class="margin-helper" id="men-records" @bind-Value=AggregationPanels.RecordPanel.MenIsIncluded />
                                <label for="men-records">
                                    Men
                                </label>
                            </div>
                            <div class="d-flex align-items-baseline">
                                <InputCheckbox class="margin-helper" id="women-records" @bind-Value=AggregationPanels.RecordPanel.WomenIsIncluded />
                                <label for="women-records">
                                    Women
                                </label>
                            </div>
                        </div>
                    </section>



                    <section>
                        <h6>
                            Event's date
                        </h6>
                        <select @onchange="AggregationPanels.RecordPanel.ChangePeriodEvent" class="custom-select">
                            <option value="">Select period</option>
                            <option value="1920 - 1972">1920 - 1972</option>
                            <option value="1973 - 1992">1973 - 1992</option>
                            <option value="1993 - 1997">1993 - 1997</option>
                            <option value="(current)1998+">(current)1998+</option>
                        </select>
                        <div>
                            <InputDate @bind-Value=AggregationPanels.RecordPanel.DateLowerLimit class="form-control date-style-correction" />
                        </div>
                        <div>
                            <InputDate @bind-Value=AggregationPanels.RecordPanel.DateUpperLimit class="form-control date-style-correction" />
                        </div>
                    </section>


                    <section>
                        <h6>
                            Included results
                        </h6>
                        <div class="stacked-checkboxes">
                            <div class="checkbox-items">
                                <InputCheckbox class="margin-helper" id="snatch-records" @bind-Value=AggregationPanels.RecordPanel.SnatchIsIncluded />
                                <label for="snatch-records">
                                    Snatch results
                                </label>
                            </div>
                            <div class="checkbox-items">
                                <InputCheckbox class="margin-helper" id="cleanAndJerk-records" @bind-Value=AggregationPanels.RecordPanel.CleanAndJerkIsIncluded />
                                <label for="cleanAndJerk-records">
                                    Clean and jerk results
                                </label>
                            </div>

                            <div class="checkbox-items">
                                <InputCheckbox class="margin-helper" id="total-records" @bind-Value=AggregationPanels.RecordPanel.TotalIsIncluded />
                                <label for="total-records">
                                    Total results
                                </label>
                            </div>

                            <div class="checkbox-items">
                                <InputCheckbox class="margin-helper" id="press-records" @bind-Value=AggregationPanels.RecordPanel.CleanAndPressIsIncluded />
                                <label for="press-records">
                                    Clean and press (is excluded from 1973)
                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h6>
                            Define competition
                        </h6>
                        <TelerikAutoComplete Data="@AggregationPanels.DataForDropdowns.Competitions" @bind-Value="@AggregationPanels.RecordPanel.Competition"
                                             Placeholder="Enter Competition" ClearButton="true"
                                             Width="100%" Class="" />
                    </section>

                    <section>
                        <h6>
                            Define athlete's name
                        </h6>
                        <TelerikAutoComplete Data="@AggregationPanels.DataForDropdowns.AthleteNames" @bind-Value="@AggregationPanels.RecordPanel.AthleteName"
                                             Placeholder="Enter Athlete's Name" ClearButton="true"
                                             Width="100%" Class="" />
                    </section>

                    <section>
                        <h6>
                            Weight spread of athletes
                        </h6>
                        <div class="d-flex flex-column">
                            <div class="d-flex">
                                <InputNumber class="form-control" @bind-Value=AggregationPanels.RecordPanel.WeightLowerLimit />
                                <InputNumber class="form-control" @bind-Value=AggregationPanels.RecordPanel.WeightUpperLimit />
                            </div>
                        </div>
                    </section>

                    <section>
                        <h6>
                            Included records
                        </h6>
                        <div class="stacked-checkboxes">
                            <div class="checkbox-items">
                                <InputCheckbox class="margin-helper" id="world" @bind-Value=AggregationPanels.RecordPanel.IsWorldRecordsIncluded />
                                <label for="world">
                                    World Records
                                </label>
                            </div>

                            <div class="checkbox-items">
                                <InputCheckbox class="margin-helper" id="olympic" @bind-Value=AggregationPanels.RecordPanel.IsOlympicRecordsIncluded />
                                <label for="olympic">
                                    Olympic Records
                                </label>
                            </div>

                            <div class="checkbox-items">
                                <InputCheckbox class="margin-helper" id="active" @bind-Value=AggregationPanels.RecordPanel.IsActive />
                                <label for="active">
                                    Active records
                                </label>
                            </div>
                        </div>

                    </section>




                }
                <section class="buttons d-flex flex-wrap">
                    <button type="button" class="btn btn-outline-secondary operation-button shadow-sm"
                            @onclick="(() => OnClearButtonClick.InvokeAsync(PanelType))" value="Clear">
                        <i class="fas fa-times"></i>
                    </button>
                    <button type="button" class="btn btn-success operation-button shadow-sm"
                            @onclick="(() => OnSearchClick.InvokeAsync(PanelType))" value="Save">
                        <i class="fas fa-search"></i>
                    </button>
                </section>
            </div>

        </EditForm>

    }

</div>


<style>
    

    .operation-button {
        height: 45px;
        /*width: 90px;*/
        margin: 0 5px;
        margin-top: auto;
        flex: 1;
    }

    
    .date-style-correction {
        padding: 0;
        padding-left: .37rem;
    }
</style>
