@using WeightliftingTeam1.Data


@if (AthleteResults == null)
{
    <p>Loading......</p>
}
else
{
<TelerikGrid Data="@AthleteResults" Height="400px"
             Pageable="true" Sortable="true" Groupable="false"
             Resizable="false" Reorderable="true"
             Width="100%">
    <GridToolBar>
        <GridSearchBox />
    </GridToolBar>
    <GridColumns>
        <GridColumn Field="@(nameof(AthleteResult.Id))" Title="Athlete Id" Width="100px" />
        <GridColumn Field="@(nameof(AthleteResult.FullName))" Title="Full Name" Width="200px" />
        <GridColumn Field="@(nameof(AthleteResult.Nation))" Width="100px" />
        <GridColumn Field="@(nameof(AthleteResult.Weight))" Width="100px" />
        <GridColumn Field="@(nameof(AthleteResult.TotalResult))" Title="Total" Width="100px" />
    </GridColumns>
</TelerikGrid>
}

@code {
    [Parameter]
    public IEnumerable<AthleteResult> AthleteResults { get; set; }
}
